---
import VueJs from "./icons/VueJs.astro";
const TAGS = {
  VUEJS: {
    // Sacar icono a archivo .astro
    name: "Vue.js",
    class: "bg-[#35495e] text-[#42b883]",
    icon: VueJs,
  },
};
const PROJECTS = [
  {
    title: "Brainwave app",
    description:
      "Aplicación de tareas para proyecto final desarrollado con Vue.js para el Bootcamp realizado en Ironhack",
    link: "https://brainwavefocus.netlify.app/",
    github:
      "https://github.com/ejcordoba/ironhack-front-final-project-template",
    image: "/projects/brainwave-app.webp",
    tags: [TAGS.VUEJS],
  },
];
---

{
  PROJECTS.map(({ title, description, tags, image }) => (
    <article>
      <h3 class="mb-2 text-xl font-semibold text-complementary-color">
        {title}
      </h3>
      <p class="text-md mb-4 text-pretty text-complementary-color/80">
        {description}
      </p>
      <ul class="mb-4 flex flex-row gap-x-4">
        {tags.map((tag) => (
          <li>
            <span
              class={`flex items-center justify-center gap-x-2 rounded-full text-sm ${tag.class} px-4 py-2`}
            >
              <tag.icon class="size-8" />
              {tag.name}
            </span>
          </li>
        ))}
      </ul>
      <img
        class="rounded shadow-lg shadow-complementary-color/30"
        src={image}
        alt={`Captura de pantalla del proyecto ${image}`}
      />
    </article>
  ))
}
